#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.footer {
  text-align: center;
  background-color: #1a1f26;
  padding: 1rem;
  font-size: 1rem;
}